*.aux
*.bbl
*.blg
*.log
*.dep
*.brf
*.fls
*.out
\#*\#
*latexmk
*-blx.bib
main.run.xml
*.bcf
_region_.tex
auto/
*.swp
*~
*.sublime-workspace
*synctex.gz
*.DS_Store

# specific files
paper/main.pdf
suppl/main.pdf
rebuttal/main.pdf
arxiv/
arxiv.zip
paper/share 
